In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Get urls for all seasons, wages and fixtures
seasons = ['https://fbref.com/en/comps/13/2017-2018/2017-2018-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2018-2019/2018-2019-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2019-2020/2019-2020-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2020-2021/2020-2021-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2021-2022/2021-2022-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2022-2023/2022-2023-Ligue-1-Stats'
          ]
wages = ['https://fbref.com/en/comps/13/2017-2018/wages/2017-2018-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2018-2019/wages/2018-2019-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2019-2020/wages/2019-2020-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2020-2021/wages/2020-2021-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2021-2022/wages/2021-2022-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2022-2023/wages/2022-2023-Ligue-1-Wages'
        ]
fixtures = ['https://fbref.com/en/comps/13/2017-2018/schedule/2017-2018-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2018-2019/schedule/2018-2019-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2019-2020/schedule/2019-2020-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2020-2021/schedule/2020-2021-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2021-2022/schedule/2021-2022-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2022-2023/schedule/2022-2023-Ligue-1-Scores-and-Fixtures'
    
    
]

url = seasons[0]
table = pd.read_html(url)
Ligue1_2018_summary_df = pd.DataFrame(table[0])
url = seasons[1]
table = pd.read_html(url)
Ligue1_2019_summary_df = pd.DataFrame(table[0])
url = seasons[2]
table = pd.read_html(url)
Ligue1_2020_summary_df = pd.DataFrame(table[0])
url = seasons[3]
table = pd.read_html(url)
Ligue1_2020_summary_df = pd.DataFrame(table[0])
url = seasons[4]
table = pd.read_html(url)
Ligue1_2021_summary_df = pd.DataFrame(table[0])
url = seasons[5]
table = pd.read_html(url)
Ligue1_2022_summary_df = pd.DataFrame(table[0])

Ligue1_2022_summary_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Paris S-G,29,21,3,5,68,29,39,66,2.28,60.8,34.0,26.8,0.92,W W W L L,40067,Kylian Mbappé - 19,Gianluigi Donnarumma,NaN
1,2,Lens,29,17,9,3,48,21,27,60,2.07,51.4,31.5,19.9,0.69,D D W W W,37531,Loïs Openda - 15,Brice Samba,NaN
2,3,Marseille,29,18,6,5,54,29,25,60,2.07,49.0,36.2,12.8,0.44,L W D W D,62532,Alexis Sánchez - 12,Pau López,NaN
3,4,Monaco,29,17,6,6,61,40,21,57,1.97,48.9,39.0,9.9,0.34,L D L W W,6931,Wissam Ben Yedder - 17,Alexander Nübel,NaN
4,5,Lille,29,15,7,7,54,37,17,52,1.79,53.5,32.4,21.1,0.73,W D D W W,33048,Jonathan David - 19,Lucas Chevalier,NaN

In [3]:
# Get 2nd summary table (index[2])for each season
url = seasons[0]
table = pd.read_html(url)
Ligue1_2018_summary2_df = pd.DataFrame(table[2])
url = seasons[1]
table = pd.read_html(url)
Ligue1_2019_summary2_df = pd.DataFrame(table[2])
url = seasons[2]
table = pd.read_html(url)
Ligue1_2020_summary2_df = pd.DataFrame(table[2])
url = seasons[3]
table = pd.read_html(url)
Ligue1_2020_summary2_df = pd.DataFrame(table[2])
url = seasons[4]
table = pd.read_html(url)
Ligue1_2021_summary2_df = pd.DataFrame(table[2])
url = seasons[5]
table = pd.read_html(url)
Ligue1_2022_summary2_df = pd.DataFrame(table[2])

In [4]:
# Remove upper level to allow for merging with other tables
Ligue1_2018_summary2_df = Ligue1_2018_summary2_df.droplevel(0, axis = 1)
Ligue1_2019_summary2_df = Ligue1_2019_summary2_df.droplevel(0, axis = 1)
Ligue1_2020_summary2_df = Ligue1_2020_summary2_df.droplevel(0, axis = 1)
Ligue1_2021_summary2_df = Ligue1_2021_summary2_df.droplevel(0, axis = 1)
Ligue1_2022_summary2_df = Ligue1_2022_summary2_df.droplevel(0, axis = 1)

In [5]:
# Get wages table for each of the last 5 seasons
url = wages[0]
table = pd.read_html(url)
Ligue1_2018_wages_df = pd.DataFrame(table[0])
url = wages[1]
table = pd.read_html(url)
Ligue1_2019_wages_df = pd.DataFrame(table[0])
url = wages[2]
table = pd.read_html(url)
Ligue1_2020_wages_df = pd.DataFrame(table[0])
url = wages[3]
table = pd.read_html(url)
Ligue1_2020_wages_df = pd.DataFrame(table[0])

url = wages[4]
table = pd.read_html(url)
Ligue1_2021_wages_df = pd.DataFrame(table[0])

url = wages[5]
table = pd.read_html(url)
Ligue1_2022_wages_df = pd.DataFrame(table[0])

In [6]:
# Merge wages and season summary for each season
Ligue1_2018_merged_df = pd.merge(Ligue1_2018_wages_df, Ligue1_2018_summary_df, how="left", on=['Squad'])
Ligue1_2019_merged_df = pd.merge(Ligue1_2019_wages_df, Ligue1_2019_summary_df, how="left", on=['Squad'])
Ligue1_2020_merged_df = pd.merge(Ligue1_2020_wages_df, Ligue1_2020_summary_df, how="left", on=['Squad'])
Ligue1_2021_merged_df = pd.merge(Ligue1_2021_wages_df, Ligue1_2021_summary_df, how="left", on=['Squad'])
Ligue1_2022_merged_df = pd.merge(Ligue1_2022_wages_df, Ligue1_2022_summary_df, how="left", on=['Squad'])
Ligue1_all_wages_df = pd.concat([Ligue1_2018_merged_df,Ligue1_2019_merged_df, Ligue1_2020_merged_df,
                                Ligue1_2021_merged_df, Ligue1_2022_merged_df], axis=0)

Ligue1_all_wages_df.head()

,Rk_x,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated,Rk_y,MP,W,D,...,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Last 5
0,1,Paris S-G,35,"€ 3,895,462 (£ 3,266,377, $3,969,910)","€ 202,564,000 (£ 169,851,608, $206,435,344)",100%,1,38,29,6,...,2.45,86.1,34.3,51.7,1.36,46930.0,Edinson Cavani - 28,Alphonse Areola,→ Champions League via league finish,NaN
1,2,Monaco,38,"€ 1,314,423 (£ 1,102,155, $1,339,544)","€ 68,350,000 (£ 57,312,046, $69,656,287)",100%,2,38,24,8,...,2.11,62.3,48.5,13.8,0.36,9243.0,Radamel Falcao - 18,Danijel Subašić,→ Champions League via league finish,NaN
2,3,Marseille,29,"€ 1,005,423 (£ 843,056, $1,024,638)","€ 52,282,000 (£ 43,838,893, $53,281,198)",100%,4,38,22,11,...,2.03,78.1,41.8,36.3,0.96,46616.0,Florian Thauvin - 22,Steve Mandanda,→ Europa League via league finish,NaN
3,4,Lyon,34,"€ 712,942 (£ 597,808, $726,568)","€ 37,073,000 (£ 31,086,023, $37,781,525)",100%,3,38,23,9,...,2.05,63.4,40.1,23.3,0.61,44047.0,Memphis - 19,Anthony Lopes,→ Champions League via league finish,NaN
4,5,Lille,32,"€ 520,846 (£ 436,734, $530,800)","€ 27,084,000 (£ 22,710,158, $27,601,617)",100%,17,38,10,8,...,1.00,36.4,57.9,-21.5,-0.57,31453.0,Nicolas Pépé - 13,Mike Maignan,NaN,NaN

In [7]:
# Merge in summary table#2 for each season
Ligue1_2018_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2019_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2020_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2021_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2022_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2018_complete_df.head()

,Rk_x,Squad,# Pl_x,Weekly Wages,Annual Wages,% Estimated,Rk_y,MP_x,W,D,...,Gls,Ast,G+A,G-PK,G+A-PK,xG_y,xAG,xG+xAG,npxG,npxG+xAG
0,1,Paris S-G,35,"€ 3,895,462 (£ 3,266,377, $3,969,910)","€ 202,564,000 (£ 169,851,608, $206,435,344)",100%,1,38,29,6,...,2.63,1.97,4.61,2.45,4.42,2.26,1.71,3.98,2.09,3.80
1,2,Monaco,38,"€ 1,314,423 (£ 1,102,155, $1,339,544)","€ 68,350,000 (£ 57,312,046, $69,656,287)",100%,2,38,24,8,...,2.18,1.47,3.66,2.00,3.47,1.64,1.13,2.77,1.48,2.61
2,3,Marseille,29,"€ 1,005,423 (£ 843,056, $1,024,638)","€ 52,282,000 (£ 43,838,893, $53,281,198)",100%,4,38,22,11,...,2.08,1.42,3.50,1.95,3.37,2.06,1.47,3.53,1.89,3.36
3,4,Lyon,34,"€ 712,942 (£ 597,808, $726,568)","€ 37,073,000 (£ 31,086,023, $37,781,525)",100%,3,38,23,9,...,2.24,1.63,3.87,2.08,3.71,1.67,1.15,2.82,1.53,2.69
4,5,Lille,32,"€ 520,846 (£ 436,734, $530,800)","€ 27,084,000 (£ 22,710,158, $27,601,617)",100%,17,38,10,8,...,1.08,0.82,1.89,1.03,1.84,0.96,0.78,1.74,0.92,1.70

In [8]:
#Get columns
Ligue1_2018_complete_df.columns
Ligue1_2019_complete_df.columns
Ligue1_2020_complete_df.columns
Ligue1_2021_complete_df.columns
Ligue1_2022_complete_df.columns

Index(['Rk_x', 'Squad', '# Pl_x', 'Weekly Wages', 'Annual Wages',
       '% Estimated', 'Rk_y', 'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance',
       'Top Team Scorer', 'Goalkeeper', 'Notes', '# Pl_y', 'Age', 'Poss',
       'MP_y', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK',
       'PKatt', 'CrdY', 'CrdR', 'xG_y', 'npxG', 'xAG', 'npxG+xAG', 'PrgC',
       'PrgP', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG_y', 'xAG', 'xG+xAG',
       'npxG', 'npxG+xAG'],
      dtype='object')

In [9]:
# Select desired columns for final summary table
Ligue1_2018_sum_complete_df = Ligue1_2018_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2019_sum_complete_df = Ligue1_2019_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2020_sum_complete_df = Ligue1_2020_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2021_sum_complete_df = Ligue1_2021_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2022_sum_complete_df = Ligue1_2022_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

Ligue1_2018_sum_complete_df.head()

,Rk_y,Squad,# Pl_x,Age,Poss,Annual Wages,MP_x,W,D,L,GF,GA,GD,Pts,Pts/MP,xG_x,xGA,xGD,xGD/90,Attendance
0,1,Paris S-G,35,26.1,66.3,"€ 202,564,000 (£ 169,851,608, $206,435,344)",38,29,6,3,108,29,79,93,2.45,86.1,34.3,51.7,1.36,46930
1,2,Monaco,38,25.8,50.9,"€ 68,350,000 (£ 57,312,046, $69,656,287)",38,24,8,6,85,45,40,80,2.11,62.3,48.5,13.8,0.36,9243
2,4,Marseille,29,27.2,57.8,"€ 52,282,000 (£ 43,838,893, $53,281,198)",38,22,11,5,80,47,33,77,2.03,78.1,41.8,36.3,0.96,46616
3,3,Lyon,34,24.4,55.6,"€ 37,073,000 (£ 31,086,023, $37,781,525)",38,23,9,6,87,43,44,78,2.05,63.4,40.1,23.3,0.61,44047
4,17,Lille,32,22.6,53.8,"€ 27,084,000 (£ 22,710,158, $27,601,617)",38,10,8,20,41,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453

In [10]:
# Rename columns
Ligue1_2018_sum_complete_df = Ligue1_2018_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2019_sum_complete_df = Ligue1_2019_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2020_sum_complete_df = Ligue1_2020_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2021_sum_complete_df = Ligue1_2021_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2022_sum_complete_df = Ligue1_2022_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2018_sum_complete_df.head()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,Annual Wages,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance
0,1,Paris S-G,35,26.1,66.3,"€ 202,564,000 (£ 169,851,608, $206,435,344)",38,29,6,3,108,29,79,93,2.45,86.1,34.3,51.7,1.36,46930
1,2,Monaco,38,25.8,50.9,"€ 68,350,000 (£ 57,312,046, $69,656,287)",38,24,8,6,85,45,40,80,2.11,62.3,48.5,13.8,0.36,9243
2,4,Marseille,29,27.2,57.8,"€ 52,282,000 (£ 43,838,893, $53,281,198)",38,22,11,5,80,47,33,77,2.03,78.1,41.8,36.3,0.96,46616
3,3,Lyon,34,24.4,55.6,"€ 37,073,000 (£ 31,086,023, $37,781,525)",38,23,9,6,87,43,44,78,2.05,63.4,40.1,23.3,0.61,44047
4,17,Lille,32,22.6,53.8,"€ 27,084,000 (£ 22,710,158, $27,601,617)",38,10,8,20,41,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453

In [17]:
# Convert 'Annual Wages' column into single column with only dollar value
Ligue1_2018_sum_complete_df[['pounds', 'dollars']] = Ligue1_2018_sum_complete_df['Annual Wages'].str.split('$', expand=True)
Ligue1_2019_sum_complete_df[['pounds', 'dollars']] = Ligue1_2019_sum_complete_df['Annual Wages'].str.split('$', expand=True)
Ligue1_2020_sum_complete_df[['pounds', 'dollars']] = Ligue1_2020_sum_complete_df['Annual Wages'].str.split('$', expand=True)
Ligue1_2021_sum_complete_df[['pounds', 'dollars']] = Ligue1_2021_sum_complete_df['Annual Wages'].str.split('$', expand=True)
Ligue1_2022_sum_complete_df[['pounds', 'dollars']] = Ligue1_2022_sum_complete_df['Annual Wages'].str.split('$', expand=True)

In [18]:
# Convert 'Annual Wages' column into single column with only dollar value
Ligue1_2018_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2018_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2019_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2019_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2020_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2020_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2021_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2021_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2022_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2022_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2022_sum_complete_df.head()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,Annual Wages,MP,W,D,L,...,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,pounds,dollars,Annual Wages ($),discard
0,1,Paris S-G,35,26.1,66.3,"€ 202,564,000 (£ 169,851,608, $206,435,344)",38,29,6,3,...,2.45,86.1,34.3,51.7,1.36,46930,"€ 202,564,000 (£ 169,851,608,","206,435,344)","206,435,344",
1,2,Monaco,38,25.8,50.9,"€ 68,350,000 (£ 57,312,046, $69,656,287)",38,24,8,6,...,2.11,62.3,48.5,13.8,0.36,9243,"€ 68,350,000 (£ 57,312,046,","69,656,287)","69,656,287",
2,4,Marseille,29,27.2,57.8,"€ 52,282,000 (£ 43,838,893, $53,281,198)",38,22,11,5,...,2.03,78.1,41.8,36.3,0.96,46616,"€ 52,282,000 (£ 43,838,893,","53,281,198)","53,281,198",
3,3,Lyon,34,24.4,55.6,"€ 37,073,000 (£ 31,086,023, $37,781,525)",38,23,9,6,...,2.05,63.4,40.1,23.3,0.61,44047,"€ 37,073,000 (£ 31,086,023,","37,781,525)","37,781,525",
4,17,Lille,32,22.6,53.8,"€ 27,084,000 (£ 22,710,158, $27,601,617)",38,10,8,20,...,1.00,36.4,57.9,-21.5,-0.57,31453,"€ 27,084,000 (£ 22,710,158,","27,601,617)","27,601,617",

In [19]:
# Drop unwanted columns 
Ligue1_2018_sum_clean_df = Ligue1_2018_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2019_sum_clean_df = Ligue1_2019_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2020_sum_clean_df = Ligue1_2020_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2021_sum_clean_df = Ligue1_2021_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2022_sum_clean_df = Ligue1_2022_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2018_sum_clean_df.head()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($)
0,1,Paris S-G,35,26.1,66.3,38,29,6,3,108,29,79,93,2.45,86.1,34.3,51.7,1.36,46930,"206,435,344"
1,2,Monaco,38,25.8,50.9,38,24,8,6,85,45,40,80,2.11,62.3,48.5,13.8,0.36,9243,"69,656,287"
2,4,Marseille,29,27.2,57.8,38,22,11,5,80,47,33,77,2.03,78.1,41.8,36.3,0.96,46616,"53,281,198"
3,3,Lyon,34,24.4,55.6,38,23,9,6,87,43,44,78,2.05,63.4,40.1,23.3,0.61,44047,"37,781,525"
4,17,Lille,32,22.6,53.8,38,10,8,20,41,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453,"27,601,617"

In [14]:
# Sort by league position
Ligue1_2018_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2019_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2020_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2021_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2022_sum_complete_df.sort_values('Pts', ascending=False)

,League Rank,Squad,# of Players,Avg Age,Avg Poss,Annual Wages,MP,W,D,L,...,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,pounds,dollars,Annual Wages ($),discard
0,1,Paris S-G,35,26.1,66.3,"€ 202,564,000 (£ 169,851,608, $206,435,344)",38,29,6,3,...,2.45,86.1,34.3,51.7,1.36,46930,"€ 202,564,000 (£ 169,851,608,","206,435,344)","206,435,344",
1,2,Monaco,38,25.8,50.9,"€ 68,350,000 (£ 57,312,046, $69,656,287)",38,24,8,6,...,2.11,62.3,48.5,13.8,0.36,9243,"€ 68,350,000 (£ 57,312,046,","69,656,287)","69,656,287",
3,3,Lyon,34,24.4,55.6,"€ 37,073,000 (£ 31,086,023, $37,781,525)",38,23,9,6,...,2.05,63.4,40.1,23.3,0.61,44047,"€ 37,073,000 (£ 31,086,023,","37,781,525)","37,781,525",
2,4,Marseille,29,27.2,57.8,"€ 52,282,000 (£ 43,838,893, $53,281,198)",38,22,11,5,...,2.03,78.1,41.8,36.3,0.96,46616,"€ 52,282,000 (£ 43,838,893,","53,281,198)","53,281,198",
10,5,Rennes,35,24.2,49.9,"€ 14,155,000 (£ 11,869,086, $14,425,526)",38,16,10,12,...,1.53,49.8,49.3,0.5,0.01,23111,"€ 14,155,000 (£ 11,869,086,","14,425,526)","14,425,526",
6,7,Saint-Étienne,40,26.6,51.3,"€ 20,480,000 (£ 17,172,650, $20,871,408)",38,15,10,13,...,1.45,51.0,54.1,-3.1,-0.08,27563,"€ 20,480,000 (£ 17,172,650,","20,871,408)","20,871,408",
7,6,Bordeaux,37,25.1,50.6,"€ 19,603,000 (£ 16,437,274, $19,977,645)",38,16,7,15,...,1.45,51.0,43.6,7.5,0.20,26048,"€ 19,603,000 (£ 16,437,274,","19,977,645)","19,977,645",
5,8,Nice,39,25.0,58.1,"€ 21,810,000 (£ 18,287,868, $22,226,825)",38,15,9,14,...,1.42,49.2,49.5,-0.3,-0.01,22876,"€ 21,810,000 (£ 18,287,868,","22,226,825)","22,226,825",
9,9,Nantes,36,25.6,43.7,"€ 14,781,000 (£ 12,393,992, $15,063,490)",38,14,10,14,...,1.37,41.8,38.1,3.7,0.10,24559,"€ 14,781,000 (£ 12,393,992,","15,063,490)","15,063,490",
13,10,Montpellier,30,26.4,47.0,"€ 12,006,000 (£ 10,067,131, $12,235,453)",38,11,18,9,...,1.34,42.6,39.0,3.6,0.10,13458,"€ 12,006,000 (£ 10,067,131,","12,235,453)","12,235,453",
14,11,Dijon,35,26.6,48.4,"€ 11,005,000 (£ 9,227,786, $11,215,324)",38,13,9,16,...,1.26,41.6,63.8,-22.2,-0.58,12228,"€ 11,005,000 (£ 9,227,786,","11,215,324)","11,215,324",
18,12,Guingamp,30,27.2,49.7,"€ 9,212,000 (£ 7,724,338, $9,388,060)",38,12,11,15,...,1.24,45.5,49.0,-3.5,-0.09,14502,"€ 9,212,000 (£ 7,724,338,","9,388,060)","9,388,060",
12,13,Amiens,34,27.5,43.3,"€ 12,330,000 (£ 10,338,805, $12,565,645)",38,12,9,17,...,1.18,32.8,54.9,-22.1,-0.58,9521,"€ 12,330,000 (£ 10,338,805,","12,565,645)","12,565,645",
17,14,Angers,33,27.1,45.1,"€ 10,130,000 (£ 8,494,086, $10,323,602)",38,9,14,15,...,1.08,47.6,45.8,1.8,0.05,11065,"€ 10,130,000 (£ 8,494,086,","10,323,602)","10,323,602",
4,17,Lille,32,22.6,53.8,"€ 27,084,000 (£ 22,710,158, $27,601,617)",38,10,8,20,...,1.00,36.4,57.9,-21.5,-0.57,31453,"€ 27,084,000 (£ 22,710,158,","27,601,617)","27,601,617",
15,15,Strasbourg,31,27.2,49.1,"€ 10,804,000 (£ 9,059,242, $11,010,479)",38,9,11,18,...,1.00,45.5,58.4,-12.9,-0.34,24064,"€ 10,804,000 (£ 9,059,242,","11,010,479)","11,010,479",
16,16,Caen,33,27.3,45.5,"€ 10,459,000 (£ 8,769,954, $10,658,893)",38,10,8,20,...,1.00,42.8,48.0,-5.2,-0.14,17187,"€ 10,459,000 (£ 8,769,954,","10,658,893)","10,658,893",
8,18,Toulouse,28,23.9,45.7,"€ 18,743,000 (£ 15,716,163, $19,101,212)",38,9,10,19,...,0.97,45.5,52.1,-6.6,-0.17,16929,"€ 18,743,000 (£ 15,716,163,","19,101,212)","19,101,212",
19,19,Troyes,30,26.7,42.6,"€ 6,870,000 (£ 5,760,548, $7,001,300)",38,9,6,23,...,0.87,38.0,52.0,-14.0,-0.37,11723,"€ 6,870,000 (£ 5,760,548,","7,001,300)","7,001,300",
11,20,Metz,44,27.4,45.5,"€ 13,202,000 (£ 11,069,988, $13,454,314)",38,6,8,24,...,0.68,40.3,71.3,-31.0,-0.81,14844,"€ 13,202,000 (£ 11,069,988,","13,454,314)","13,454,314",

In [20]:
#Add Season Column to each dataframe
Ligue1_2018_sum_clean_df['Season'] = '2017-2018'
Ligue1_2019_sum_clean_df['Season'] = '2018-2019'
Ligue1_2020_sum_clean_df['Season'] = '2019-2020'
Ligue1_2021_sum_clean_df['Season'] = '2020-2021'
Ligue1_2022_sum_clean_df['Season'] = '2021-2022'
Ligue1_2018_sum_clean_df.head()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,L,GF,...,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($),Season
0,1,Paris S-G,35,26.1,66.3,38,29,6,3,108,...,79,93,2.45,86.1,34.3,51.7,1.36,46930,"206,435,344",2017-2018
1,2,Monaco,38,25.8,50.9,38,24,8,6,85,...,40,80,2.11,62.3,48.5,13.8,0.36,9243,"69,656,287",2017-2018
2,4,Marseille,29,27.2,57.8,38,22,11,5,80,...,33,77,2.03,78.1,41.8,36.3,0.96,46616,"53,281,198",2017-2018
3,3,Lyon,34,24.4,55.6,38,23,9,6,87,...,44,78,2.05,63.4,40.1,23.3,0.61,44047,"37,781,525",2017-2018
4,17,Lille,32,22.6,53.8,38,10,8,20,41,...,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453,"27,601,617",2017-2018

In [21]:
# Concatenate all seasons into one dataframe
Ligue1_all_seasons_sum_df = pd.concat([Ligue1_2018_sum_clean_df, Ligue1_2019_sum_clean_df, Ligue1_2020_sum_clean_df,
                                Ligue1_2021_sum_clean_df, Ligue1_2022_sum_clean_df], axis=0)
Ligue1_all_seasons_sum_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 19
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   League Rank       100 non-null    int64
 1   Squad             100 non-null    object
 2   # of Players      100 non-null    int64
 3   Avg Age           100 non-null    float64
 4   Avg Poss          100 non-null    float64
 5   MP                100 non-null    int64
 6   W                 100 non-null    int64
 7   D                 100 non-null    int64
 8   L                 100 non-null    int64
 9   GF                100 non-null    int64
 10  GA                100 non-null    int64
 11  GD                100 non-null    int64
 12  Pts               100 non-null    int64
 13  Pts/MP            100 non-null    float64
 14  xG                100 non-null    float64
 15  xGA               100 non-null    float64
 16  xGD               100 non-null    float64
 17  xGD/90            100 non-null    float64
 18  Attendance        100 non-null    int64
 19  Annual Wages ($)  100 non-null    object
 20  Season            100 non-null    object
dtypes: float64(7), int64(11), object(3)
memory usage: 17.2+ KB

In [22]:
# Get individual matches from each of te last 5 seasons
url = fixtures[0]
table_2018 = pd.read_html(url)
Ligue1_2018_matches_df = pd.DataFrame(table_2018[0])
url = fixtures[1]
table_2019 = pd.read_html(url)
Ligue1_2019_matches_df = pd.DataFrame(table_2019[0])
url = fixtures[2]
table_2020 = pd.read_html(url)
Ligue1_2020_matches_df = pd.DataFrame(table_2020[0])
url = fixtures[3]
table_2021 = pd.read_html(url)
Ligue1_2021_matches_df = pd.DataFrame(table_2021[0])
url = fixtures[4]
table_2022 = pd.read_html(url)
Ligue1_2022_matches_df = pd.DataFrame(table_2022[0])

In [36]:
# Drop empty rows
# Ligue1_all_matches_df.dropna(how='all')
Ligue1_2018_matches_df = Ligue1_2018_matches_df.dropna(how='all')
Ligue1_2019_matches_df = Ligue1_2019_matches_df.dropna(how='all')
Ligue1_2020_matches_df = Ligue1_2020_matches_df.dropna(how='all')
Ligue1_2021_matches_df = Ligue1_2021_matches_df.dropna(how='all')
Ligue1_2022_matches_df = Ligue1_2022_matches_df.dropna(how='all')
Ligue1_2022_matches_df.head()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Season
0,Regular season,1.0,Fri,2021-08-06,21:00,Monaco,1.5,1–1,0.2,Nantes,7500.0,Stade Louis II.,Antony Gautier,2021-2022
1,Regular season,1.0,Sat,2021-08-07,17:00,Lyon,1.4,1–1,0.8,Brest,29018.0,Groupama Stadium,Mikael Lesage,2021-2022
2,Regular season,1.0,Sat,2021-08-07,21:00,Troyes,0.9,1–2,1.2,Paris S-G,15248.0,Stade de l'Aube,Amaury Delerue,2021-2022
3,Regular season,1.0,Sun,2021-08-08,13:00,Rennes,0.7,1–1,2.1,Lens,22567.0,Roazhon Park,Bastien Dechepy,2021-2022
4,Regular season,1.0,Sun,2021-08-08,15:00,Bordeaux,0.7,0–2,3.1,Clermont Foot,18748.0,Stade Matmut-Atlantique,Florent Batta,2021-2022

In [37]:
# Add seasons column
Ligue1_2018_matches_df['Season'] = '2017-2018'
Ligue1_2019_matches_df['Season'] = '2018-2019'
Ligue1_2020_matches_df['Season'] = '2019-2020'
Ligue1_2021_matches_df['Season'] = '2020-2021'
Ligue1_2022_matches_df['Season'] = '2021-2022'
Ligue1_2022_matches_df.head()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Season
0,Regular season,1.0,Fri,2021-08-06,21:00,Monaco,1.5,1–1,0.2,Nantes,7500.0,Stade Louis II.,Antony Gautier,2021-2022
1,Regular season,1.0,Sat,2021-08-07,17:00,Lyon,1.4,1–1,0.8,Brest,29018.0,Groupama Stadium,Mikael Lesage,2021-2022
2,Regular season,1.0,Sat,2021-08-07,21:00,Troyes,0.9,1–2,1.2,Paris S-G,15248.0,Stade de l'Aube,Amaury Delerue,2021-2022
3,Regular season,1.0,Sun,2021-08-08,13:00,Rennes,0.7,1–1,2.1,Lens,22567.0,Roazhon Park,Bastien Dechepy,2021-2022
4,Regular season,1.0,Sun,2021-08-08,15:00,Bordeaux,0.7,0–2,3.1,Clermont Foot,18748.0,Stade Matmut-Atlantique,Florent Batta,2021-2022

In [38]:
# Concatenate matches into one dataframe
Ligue1_all_matches_df = pd.concat([Ligue1_2018_matches_df,Ligue1_2019_matches_df, Ligue1_2020_matches_df,
                                Ligue1_2021_matches_df, Ligue1_2022_matches_df], axis=0)
Ligue1_all_matches_df.head()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Season
0,Regular season,1.0,Fri,2017-08-04,20:45,Monaco,2.0,3–2,0.3,Toulouse,13572.0,Stade Louis II.,Clément Turpin,2017-2018
1,Regular season,1.0,Sat,2017-08-05,17:15,Paris S-G,2.6,2–0,0.3,Amiens,46898.0,Parc des Princes,Mikael Lesage,2017-2018
2,Regular season,1.0,Sat,2017-08-05,20:00,Lyon,1.8,4–0,0.5,Strasbourg,1979.0,Groupama Stadium,Ruddy Buquet,2017-2018
3,Regular season,1.0,Sat,2017-08-05,20:00,Saint-Étienne,0.9,1–0,0.5,Nice,25879.0,Stade Geoffroy-Guichard,François Letexier,2017-2018
4,Regular season,1.0,Sat,2017-08-05,20:00,Metz,0.6,1–3,1.9,Guingamp,14595.0,Stade Saint-Symphorien,Jérôme Miguelgorry,2017-2018

In [40]:
# Split 'Score' column into 'Home Score' & 'Away Score'
Ligue1_all_matches_df[['Home Score','Away Score']] = Ligue1_all_matches_df['Score'].str.split('–', expand=True)
Ligue1_all_matches_df.head()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Season,Home Score,Away Score
0,Regular season,1.0,Fri,2017-08-04,20:45,Monaco,2.0,3–2,0.3,Toulouse,13572.0,Stade Louis II.,Clément Turpin,2017-2018,3,2
1,Regular season,1.0,Sat,2017-08-05,17:15,Paris S-G,2.6,2–0,0.3,Amiens,46898.0,Parc des Princes,Mikael Lesage,2017-2018,2,0
2,Regular season,1.0,Sat,2017-08-05,20:00,Lyon,1.8,4–0,0.5,Strasbourg,1979.0,Groupama Stadium,Ruddy Buquet,2017-2018,4,0
3,Regular season,1.0,Sat,2017-08-05,20:00,Saint-Étienne,0.9,1–0,0.5,Nice,25879.0,Stade Geoffroy-Guichard,François Letexier,2017-2018,1,0
4,Regular season,1.0,Sat,2017-08-05,20:00,Metz,0.6,1–3,1.9,Guingamp,14595.0,Stade Saint-Symphorien,Jérôme Miguelgorry,2017-2018,1,3

In [42]:
# Get list of columns
#Ligue1_matches_reduced_df = Ligue1_all_matches_df[['Wk', 'Date', 'Time', 'Home', 'Away', 'Score', 'xG', 'xG.1', 
#                                           'Attendance', 'Venue', 'Referee']]
Ligue1_all_matches_df.columns

Index(['Round', 'Wk', 'Day', 'Date', 'Time', 'Home', 'xG', 'Score', 'xG.1',
       'Away', 'Attendance', 'Venue', 'Referee', 'Season', 'Home Score',
       'Away Score'],
      dtype='object')

In [44]:
# Select desired columns
Ligue1_all_seasons_matches_df = Ligue1_all_matches_df[['Season', 'Wk', 'Date','Time', 'Home', 'Away', 'Home Score', 'Away Score', 'xG', 'xG.1',
                                       'Attendance', 'Venue', 'Referee']]
Ligue1_all_seasons_matches_df

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG,xG.1,Attendance,Venue,Referee
0,2017-2018,1.0,2017-08-04,20:45,Monaco,Toulouse,3,2,2.0,0.3,13572.0,Stade Louis II.,Clément Turpin
1,2017-2018,1.0,2017-08-05,17:15,Paris S-G,Amiens,2,0,2.6,0.3,46898.0,Parc des Princes,Mikael Lesage
2,2017-2018,1.0,2017-08-05,20:00,Lyon,Strasbourg,4,0,1.8,0.5,1979.0,Groupama Stadium,Ruddy Buquet
3,2017-2018,1.0,2017-08-05,20:00,Saint-Étienne,Nice,1,0,0.9,0.5,25879.0,Stade Geoffroy-Guichard,François Letexier
4,2017-2018,1.0,2017-08-05,20:00,Metz,Guingamp,1,3,0.6,1.9,14595.0,Stade Saint-Symphorien,Jérôme Miguelgorry
...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,2021-2022,38.0,2022-05-21,21:00,Reims,Nice,2,3,0.7,1.8,12589.0,Stade Auguste-Delaune II,Eric Wattellier
420,2021-2022,38.0,2022-05-21,21:00,Marseille,Strasbourg,4,0,2.3,1.1,63873.0,Orange Vélodrome,Stéphanie Frappart
421,2021-2022,38.0,2022-05-21,21:00,Lens,Monaco,2,2,1.6,1.4,37764.0,Stade Bollaert-Delelis,Benoît Bastien
423,2021-2022,NaN,2022-05-26,19:00,Auxerre,Saint-Étienne,1,1,NaN,NaN,17479.0,Stade de l'Abbé Deschamps,NaN
424,2021-2022,NaN,2022-05-29,19:00,Saint-Étienne,Auxerre,(4) 1,1 (5),NaN,NaN,24489.0,Stade Geoffroy-Guichard,NaN

In [48]:
# Rename Columns
Ligue1_all_seasons_matches_df = Ligue1_all_seasons_matches_df.rename(columns={ 'xG': 'xG Home', 'xG.1': 'xG Away'}) 
Ligue1_all_seasons_matches_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1908 entries, 0 to 424
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      1908 non-null   object
 1   Wk          1900 non-null   float64
 2   Date        1908 non-null   object
 3   Time        1835 non-null   object
 4   Home        1908 non-null   object
 5   Away        1908 non-null   object
 6   Home Score  1807 non-null   object
 7   Away Score  1807 non-null   object
 8   xG Home     1799 non-null   float64
 9   xG Away     1799 non-null   float64
 10  Attendance  1413 non-null   float64
 11  Venue       1908 non-null   object
 12  Referee     1799 non-null   object
 13  xG Diff     1799 non-null   float64
dtypes: float64(5), object(9)
memory usage: 223.6+ KB

In [58]:
#Create Calculated Columns
Ligue1_all_seasons_matches_df['xG Diff'] = Ligue1_all_seasons_matches_df['xG Home'] - Ligue1_all_seasons_matches_df['xG Away']
#Ligue1_all_seasons_matches_df["Home Score"].value_counts()
#Ligue1_all_seasons_matches_df["Away Score"].value_counts()

Ligue1_all_seasons_matches_df.tail(20)

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG Home,xG Away,Attendance,Venue,Referee,xG Diff
403,2021-2022,37.0,2022-05-14,21:00,Montpellier,Paris S-G,0,4,0.7,2.7,19586.0,Stade de la Mosson,Jeremy Stinat,-2.0
404,2021-2022,37.0,2022-05-14,21:00,Rennes,Marseille,2,0,1.6,0.4,28811.0,Roazhon Park,Benoît Bastien,1.2
405,2021-2022,37.0,2022-05-14,21:00,Monaco,Brest,4,2,3.1,1.9,6000.0,Stade Louis II.,Jérôme Brisard,1.2
406,2021-2022,37.0,2022-05-14,21:00,Troyes,Lens,1,3,0.3,0.8,19000.0,Stade de l'Aube,François Letexier,-0.5
407,2021-2022,37.0,2022-05-14,21:00,Strasbourg,Clermont Foot,1,0,0.9,0.7,25231.0,Stade de la Meinau,Benoît Millot,0.2
408,2021-2022,37.0,2022-05-14,21:00,Metz,Angers,1,0,0.4,0.7,17213.0,Stade Saint-Symphorien,Jérémie Pignard,-0.3
409,2021-2022,37.0,2022-05-14,21:00,Lyon,Nantes,3,2,2.2,2.0,54404.0,Groupama Stadium,Florent Batta,0.2
410,2021-2022,37.0,2022-05-14,21:00,Saint-Étienne,Reims,1,2,1.6,2.0,NaN,Stade Geoffroy-Guichard,Clément Turpin,-0.4
412,2021-2022,38.0,2022-05-21,21:00,Lille,Rennes,2,2,1.8,1.2,40116.0,Stade Pierre-Mauroy,Amaury Delerue,0.6
413,2021-2022,38.0,2022-05-21,21:00,Brest,Bordeaux,2,4,0.9,2.8,14484.0,Stade Francis-Le Blé,Hakim Ben El Hadj Salem,-1.9
414,2021-2022,38.0,2022-05-21,21:00,Nantes,Saint-Étienne,1,1,2.0,1.6,28636.0,Stade de la Beaujoire - Louis Fonteneau,François Letexier,0.4
415,2021-2022,38.0,2022-05-21,21:00,Clermont Foot,Lyon,1,2,2.3,2.0,12000.0,Stade Gabriel Montpied,Mikael Lesage,0.3
416,2021-2022,38.0,2022-05-21,21:00,Angers,Montpellier,2,0,2.5,1.6,11249.0,Stade Raymond Kopa,Romain Lissorgue,0.9
417,2021-2022,38.0,2022-05-21,21:00,Lorient,Troyes,1,1,1.2,0.4,15131.0,Stade Yves Allainmat - Le Moustoir,Johan Hamel,0.8
418,2021-2022,38.0,2022-05-21,21:00,Paris S-G,Metz,5,0,5.4,0.7,45000.0,Parc des Princes,Antony Gautier,4.7
419,2021-2022,38.0,2022-05-21,21:00,Reims,Nice,2,3,0.7,1.8,12589.0,Stade Auguste-Delaune II,Eric Wattellier,-1.1
420,2021-2022,38.0,2022-05-21,21:00,Marseille,Strasbourg,4,0,2.3,1.1,63873.0,Orange Vélodrome,Stéphanie Frappart,1.2
421,2021-2022,38.0,2022-05-21,21:00,Lens,Monaco,2,2,1.6,1.4,37764.0,Stade Bollaert-Delelis,Benoît Bastien,0.2
423,2021-2022,NaN,2022-05-26,19:00,Auxerre,Saint-Étienne,1,1,NaN,NaN,17479.0,Stade de l'Abbé Deschamps,NaN,NaN
424,2021-2022,NaN,2022-05-29,19:00,Saint-Étienne,Auxerre,(4) 1,1 (5),NaN,NaN,24489.0,Stade Geoffroy-Guichard,NaN,NaN

In [59]:
try:
    Ligue1_all_seasons_matches_df['Actual Diff'] = Ligue1_all_seasons_matches_df['Home Score'].astype(float) - Ligue1_all_seasons_matches_df['Away Score'].astype(float)
except:
    Ligue1_all_seasons_matches_df['Actual Diff'] = 0

In [61]:
#Select desired columns
Ligue1_all_seasons_sum_df = Ligue1_all_seasons_sum_df[['Season', 'League Rank', 'Squad', '# of Players', 'Avg Age', 'Avg Poss', 'MP',
       'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD',
       'xGD/90', 'Attendance', 'Annual Wages ($)']]
Ligue1_all_seasons_sum_df = Ligue1_all_seasons_sum_df.reset_index(drop=True)
Ligue1_all_seasons_sum_df.tail()

,Season,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,L,...,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($)
95,2021-2022,15,Strasbourg,31,27.2,49.1,38,9,11,18,...,67,-23,38,1.00,45.5,58.4,-12.9,-0.34,24064,"11,010,479"
96,2021-2022,16,Caen,33,27.3,45.5,38,10,8,20,...,52,-25,38,1.00,42.8,48.0,-5.2,-0.14,17187,"10,658,893"
97,2021-2022,14,Angers,33,27.1,45.1,38,9,14,15,...,52,-10,41,1.08,47.6,45.8,1.8,0.05,11065,"10,323,602"
98,2021-2022,12,Guingamp,30,27.2,49.7,38,12,11,15,...,59,-11,47,1.24,45.5,49.0,-3.5,-0.09,14502,"9,388,060"
99,2021-2022,19,Troyes,30,26.7,42.6,38,9,6,23,...,59,-27,33,0.87,38.0,52.0,-14.0,-0.37,11723,"7,001,300"

In [ ]:
# Remove comma from wages column to allow for conversion to float
Ligue1_all_seasons_sum_df['Annual Wages ($)'] = Ligue1_all_seasons_sum_df['Annual Wages ($)'].map(lambda x: x.replace(',', ''))
Ligue1_all_seasons_sum_df.head()
# Convert wages column to float
Ligue1_all_seasons_sum_df['Annual Wages ($)'] = Ligue1_all_seasons_sum_df['Annual Wages ($)'].astype(float)
# Export cleaned data to csv files
Ligue1_all_seasons_sum_df.to_csv('Ligue1_all_seasons_sum.csv', encoding= 'utf-8')
Ligue1_all_seasons_matches_df.to_csv('Ligue1_all_seasons_matches.csv', encoding= 'utf-8')