In [1]:
import pandas as pd
from highlight_text import ax_text, fig_text
from matplotlib.colors import LinearSegmentedColormap
import matplotlib.pyplot as plt

In [2]:
laliga_22_23 = pd.read_html('https://fbref.com/en/comps/12/2017-2018/2017-2018-La-Liga-Stats')
la_liga_sum_2223 = laliga_22_23[1]
la_liga_sum_2223.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Home                            ...  \
                  Rk              Squad   MP   W  D  L  GF  GA  GD Pts  ...
0                  1          Barcelona   19  16  3  0  53  11  42  51  ...
1                  2    Atlético Madrid   19  12  6  1  30   8  22  42  ...
2                  3        Real Madrid   19  12  4  3  54  20  34  40  ...
3                  4           Valencia   19  13  3  3  36  16  20  42  ...
4                  5         Villarreal   19  11  3  5  35  22  13  36  ...

  Away
     L  GF  GA  GD Pts Pts/MP    xG   xGA   xGD xGD/90
0    1  46  18  28  42   2.21  37.2  25.5  11.6   0.61
1    4  28  14  14  37   1.95  22.5  20.2   2.3   0.12
2    3  40  24  16  36   1.89  38.4  24.7  13.7   0.72
3    6  29  22   7  31   1.63  21.4  27.5  -6.1  -0.32
4    8  22  28  -6  25   1.32  21.6  30.1  -8.6  -0.45

[5 rows x 28 columns]

In [3]:
laliga_21_22 = pd.read_html('https://fbref.com/en/comps/12/2021-2022/2021-2022-La-Liga-Stats')
la_liga_sum_2122 = laliga_21_22[1]
la_liga_sum_2122.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Home                            ...  \
                  Rk              Squad   MP   W  D  L  GF  GA  GD Pts  ...
0                  1        Real Madrid   19  13  5  1  44  13  31  44  ...
1                  2          Barcelona   19  12  2  5  37  19  18  38  ...
2                  3    Atlético Madrid   19  12  5  2  33  16  17  41  ...
3                  4            Sevilla   19  12  6  1  36  17  19  42  ...
4                  5              Betis   19  10  2  7  34  22  12  32  ...

  Away
     L  GF  GA  GD Pts Pts/MP    xG   xGA   xGD xGD/90
0    3  36  18  18  42   2.21  33.4  23.3  10.1   0.53
1    2  31  19  12  35   1.84  29.5  19.0  10.5   0.55
2    7  32  27   5  30   1.58  25.4  20.5   4.9   0.26
3    3  17  13   4  28   1.47  17.8  20.3  -2.5  -0.13
4    4  28  18  10  33   1.74  23.8  22.8   1.0   0.05

[5 rows x 28 columns]

In [4]:
laliga_20_21 = pd.read_html('https://fbref.com/en/comps/12/2020-2021/2020-2021-La-Liga-Stats')
la_liga_sum_2021 = laliga_20_21[1]
la_liga_sum_2021.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Home                            ...  \
                  Rk              Squad   MP   W  D  L  GF  GA  GD Pts  ...
0                  1    Atlético Madrid   19  15  3  1  41  11  30  48  ...
1                  2        Real Madrid   19  13  3  3  33  13  20  42  ...
2                  3          Barcelona   19  11  5  3  44  20  24  38  ...
3                  4            Sevilla   19  14  1  4  27  11  16  43  ...
4                  5      Real Sociedad   19   9  6  4  34  21  13  33  ...

  Away
     L  GF  GA  GD Pts Pts/MP    xG   xGA   xGD xGD/90
0    3  26  14  12  38   2.00  23.2  19.3   3.9   0.21
1    1  34  15  19  42   2.21  32.9  21.5  11.4   0.60
2    4  41  18  23  41   2.16  33.5  19.6  13.9   0.73
3    5  26  22   4  34   1.79  26.9  18.6   8.3   0.44
4    6  25  17   8  29   1.53  25.1  20.1   4.9   0.26

[5 rows x 28 columns]

In [5]:
laliga_19_20 = pd.read_html('https://fbref.com/en/comps/12/2019-2020/2019-2020-La-Liga-Stats')
la_liga_sum_1920 = laliga_19_20[1]
la_liga_sum_1920.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Home                            ...  \
                  Rk              Squad   MP   W  D  L  GF  GA  GD Pts  ...
0                  1        Real Madrid   19  15  4  0  40  11  29  49  ...
1                  2          Barcelona   19  16  2  1  52  16  36  50  ...
2                  3    Atlético Madrid   19  12  6  1  28  11  17  42  ...
3                  4            Sevilla   19  10  7  2  26  14  12  37  ...
4                  5         Villarreal   19   9  5  5  37  25  12  32  ...

  Away
     L  GF  GA  GD Pts Pts/MP    xG   xGA   xGD xGD/90
0    3  30  14  16  38   2.00  30.1  18.4  11.7   0.62
1    5  34  22  12  32   1.68  28.4  21.0   7.4   0.39
2    3  23  16   7  28   1.47  26.6  19.2   7.3   0.39
3    4  28  20   8  33   1.74  24.4  19.6   4.8   0.25
4    9  26  24   2  28   1.47  30.5  22.8   7.6   0.40

[5 rows x 28 columns]

In [6]:
laliga_18_19 = pd.read_html('https://fbref.com/en/comps/12/2018-2019/2018-2019-La-Liga-Stats')
la_liga_sum_1819 = laliga_18_19[1]
la_liga_sum_1819.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Home                             ...  \
                  Rk              Squad   MP   W   D  L  GF  GA  GD Pts  ...
0                  1          Barcelona   19  15   3  1  51  17  34  48  ...
1                  2    Atlético Madrid   19  15   3  1  32  10  22  48  ...
2                  3        Real Madrid   19  13   1  5  32  15  17  40  ...
3                  4           Valencia   19   7  10  2  24  12  12  31  ...
4                  5             Getafe   19  11   3  5  28  13  15  36  ...

  Away
     L  GF  GA  GD Pts Pts/MP    xG   xGA  xGD xGD/90
0    2  39  19  20  39   2.05  30.4  22.1  8.3   0.44
1    5  23  19   4  28   1.47  21.3  24.1 -2.8  -0.15
2    7  31  31   0  28   1.47  30.9  27.7  3.2   0.17
3    5  27  23   4  30   1.58  29.5  28.2  1.3   0.07
4    4  20  22  -2  23   1.21  18.2  24.7 -6.5  -0.34

[5 rows x 28 columns]

In [7]:
merged_df1 = pd.concat([la_liga_sum_2223,la_liga_sum_2122,la_liga_sum_2021,la_liga_sum_1920,la_liga_sum_1819], ignore_index=True)

In [8]:
summary_laliga_5years = merged_df1

In [9]:
summary_laliga_5years

   Unnamed: 0_level_0 Unnamed: 1_level_0 Home                             ...  \
                   Rk              Squad   MP   W  D   L  GF  GA  GD Pts  ...
0                   1          Barcelona   19  16  3   0  53  11  42  51  ...
1                   2    Atlético Madrid   19  12  6   1  30   8  22  42  ...
2                   3        Real Madrid   19  12  4   3  54  20  34  40  ...
3                   4           Valencia   19  13  3   3  36  16  20  42  ...
4                   5         Villarreal   19  11  3   5  35  22  13  36  ...
..                ...                ...  ...  .. ..  ..  ..  ..  ..  ..  ...
95                 16         Valladolid   19   5  5   9  16  26 -10  20  ...
96                 17         Celta Vigo   19   8  5   6  31  25   6  29  ...
97                 18             Girona   19   3  6  10  17  28 -11  15  ...
98                 19             Huesca   19   5  6   8  24  30  -6  21  ...
99                 20     Rayo Vallecano   19   5  6   8  25  32  -7  21  ...

   Away
      L  GF  GA  GD Pts Pts/MP    xG   xGA   xGD xGD/90
0     1  46  18  28  42   2.21  37.2  25.5  11.6   0.61
1     4  28  14  14  37   1.95  22.5  20.2   2.3   0.12
2     3  40  24  16  36   1.89  38.4  24.7  13.7   0.72
3     6  29  22   7  31   1.63  21.4  27.5  -6.1  -0.32
4     8  22  28  -6  25   1.32  21.6  30.1  -8.6  -0.45
..  ...  ..  ..  ..  ..    ...   ...   ...   ...    ...
95    8  16  25  -9  21   1.11  18.8  35.2 -16.4  -0.86
96   11  22  37 -15  12   0.63  21.2  35.6 -14.4  -0.76
97    9  20  25  -5  22   1.16  20.0  29.8  -9.9  -0.52
98   11  19  35 -16  12   0.63  20.2  34.5 -14.3  -0.75
99   14  16  38 -22  11   0.58  19.4  36.3 -16.8  -0.89

[100 rows x 28 columns]

In [10]:
laliga_22_23wages = pd.read_html('https://fbref.com/en/comps/12/wages/La-Liga-Wages')
la_liga_wages_2223df = pd.DataFrame(laliga_22_23wages[0])

In [11]:
la_liga_wages_2223df

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Barcelona,26,"€ 6,102,692 (£ 5,492,146, $5,872,258)","€ 317,340,000 (£ 285,591,609, $305,357,425)",20%
1,2,Real Madrid,23,"€ 5,348,654 (£ 4,813,546, $5,146,692)","€ 278,130,000 (£ 250,304,387, $267,627,972)",4%
2,3,Atlético Madrid,22,"€ 3,045,385 (£ 2,740,708, $2,930,393)","€ 158,360,000 (£ 142,516,819, $152,380,418)",32%
3,4,Sevilla,25,"€ 1,658,077 (£ 1,492,194, $1,595,469)","€ 86,220,000 (£ 77,594,091, $82,964,384)",67%
4,5,Villarreal,24,"€ 1,565,192 (£ 1,408,602, $1,506,092)","€ 81,390,000 (£ 73,247,310, $78,316,758)",38%
5,6,Athletic Club,26,"€ 1,215,962 (£ 1,094,310, $1,170,048)","€ 63,230,000 (£ 56,904,133, $60,842,473)",88%
6,7,Betis,26,"€ 828,750 (£ 745,837, $797,457)","€ 43,095,000 (£ 38,783,546, $41,467,759)",96%
7,8,Valencia,24,"€ 817,308 (£ 735,540, $786,447)","€ 42,500,000 (£ 38,248,073, $40,895,224)",78%
8,9,Real Sociedad,26,"€ 601,731 (£ 541,530, $579,010)","€ 31,290,000 (£ 28,159,580, $30,108,507)",96%
9,10,Celta Vigo,21,"€ 519,038 (£ 467,111, $499,440)","€ 26,990,000 (£ 24,289,776, $25,970,874)",90%
10,11,Getafe,24,"€ 408,654 (£ 367,770, $393,223)","€ 21,250,000 (£ 19,124,038, $20,447,611)",96%
11,12,Espanyol,22,"€ 303,654 (£ 273,275, $292,188)","€ 15,790,000 (£ 14,210,283, $15,193,777)",100%
12,13,Valladolid,24,"€ 246,250 (£ 221,614, $236,952)","€ 12,805,000 (£ 11,523,920, $12,321,491)",96%
13,14,Osasuna,24,"€ 240,096 (£ 216,076, $231,030)","€ 12,485,000 (£ 11,235,934, $12,013,574)",100%
14,15,Elche,25,"€ 235,096 (£ 211,576, $226,219)","€ 12,225,000 (£ 11,001,946, $11,763,391)",91%
15,16,Cádiz,27,"€ 231,058 (£ 207,941, $222,333)","€ 12,015,000 (£ 10,812,953, $11,561,319)",100%
16,17,Mallorca,25,"€ 197,596 (£ 177,828, $190,135)","€ 10,275,000 (£ 9,247,036, $9,887,020)",92%
17,18,Rayo Vallecano,26,"€ 184,615 (£ 166,145, $177,644)","€ 9,600,000 (£ 8,639,565, $9,237,506)",96%
18,19,Almería,29,"€ 159,135 (£ 143,214, $153,126)","€ 8,275,000 (£ 7,447,124, $7,962,538)",100%
19,20,Girona,26,"€ 103,558 (£ 93,197, $99,647)","€ 5,385,000 (£ 4,846,257, $5,181,664)",96%

In [12]:
laliga_21_22wages = pd.read_html('https://fbref.com/en/comps/12/2021-2022/wages/2021-2022-La-Liga-Wages')
la_liga_wages_2122df = pd.DataFrame(laliga_21_22wages[0])

In [13]:
print(la_liga_wages_2122df)

    Rk            Squad  # Pl                           Weekly Wages  \
0    1      Real Madrid    77  € 6,203,654 (£ 5,201,816, $6,322,216)
1    2        Barcelona    91  € 4,860,481 (£ 4,075,554, $4,953,373)
2    3  Atlético Madrid    70  € 3,217,885 (£ 2,698,223, $3,279,384)
3    4       Villarreal    78  € 2,039,615 (£ 1,710,235, $2,078,596)
4    5          Sevilla    82  € 1,908,462 (£ 1,600,261, $1,944,935)
5    6         Valencia    80  € 1,323,462 (£ 1,109,734, $1,348,755)
6    7    Athletic Club    78  € 1,232,692 (£ 1,033,623, $1,256,251)
7    8    Real Sociedad    80        € 970,192 (£ 813,514, $988,734)
8    9            Betis    83        € 922,500 (£ 773,524, $940,131)
9   10       Celta Vigo    64        € 738,077 (£ 618,884, $752,183)
10  11           Getafe    81        € 730,865 (£ 612,837, $744,833)
11  12         Espanyol    78        € 568,462 (£ 476,660, $579,326)
12  13          Granada    84        € 498,846 (£ 418,287, $508,380)
13  14           Alavés    72        € 455,288 (£ 381,763, $463,990)
14  15         Mallorca    83        € 411,346 (£ 344,917, $419,208)
15  16            Cádiz    89        € 383,654 (£ 321,697, $390,986)
16  17          Levante    83        € 375,865 (£ 315,166, $383,049)
17  18            Elche    73        € 371,442 (£ 311,458, $378,541)
18  19          Osasuna    78        € 325,000 (£ 272,515, $331,211)
19  20   Rayo Vallecano    76        € 204,519 (£ 171,491, $208,428)

                                   Annual Wages % Estimated
0   € 322,590,000 (£ 270,494,419, $328,755,245)         10%
1   € 252,745,000 (£ 211,928,796, $257,575,384)         32%
2   € 167,330,000 (£ 140,307,605, $170,527,961)         33%
3    € 106,060,000 (£ 88,932,198, $108,086,988)         19%
4     € 99,240,000 (£ 83,213,571, $101,136,644)         73%
5      € 68,820,000 (£ 57,706,147, $70,135,269)         71%
6      € 64,100,000 (£ 53,748,389, $65,325,058)         96%
7      € 50,450,000 (£ 42,302,748, $51,414,186)         96%
8      € 47,970,000 (£ 40,223,247, $48,886,789)         96%
9      € 38,380,000 (£ 32,181,951, $39,113,509)         86%
10     € 38,005,000 (£ 31,867,512, $38,731,337)         95%
11     € 29,560,000 (£ 24,786,307, $30,124,941)        100%
12     € 25,940,000 (£ 21,750,907, $26,435,758)        100%
13     € 23,675,000 (£ 19,851,686, $24,127,471)         89%
14     € 21,390,000 (£ 17,935,696, $21,798,801)         98%
15     € 19,950,000 (£ 16,728,242, $20,331,279)         97%
16     € 19,545,000 (£ 16,388,647, $19,918,540)        100%
17     € 19,315,000 (£ 16,195,792, $19,684,141)         93%
18     € 16,900,000 (£ 14,170,790, $17,222,987)        100%
19      € 10,635,000 (£ 8,917,536, $10,838,253)         96%

In [14]:
laliga_20_21wages = pd.read_html('https://fbref.com/en/comps/12/2020-2021/wages/2020-2021-La-Liga-Wages')
la_liga_wages_2021df = pd.DataFrame(laliga_20_21wages[0])

In [15]:
print(la_liga_wages_2021df)

    Rk            Squad  # Pl                           Weekly Wages  \
0    1        Barcelona    83  € 6,766,923 (£ 5,674,122, $6,896,250)
1    2      Real Madrid    70  € 6,044,038 (£ 5,067,977, $6,159,550)
2    3  Atlético Madrid    68  € 3,276,731 (£ 2,747,566, $3,339,355)
3    4       Villarreal    78  € 1,857,115 (£ 1,557,207, $1,892,608)
4    5          Sevilla    78  € 1,797,885 (£ 1,507,541, $1,832,245)
5    6         Valencia    78  € 1,449,808 (£ 1,215,676, $1,477,516)
6    7    Athletic Club    80  € 1,394,615 (£ 1,169,397, $1,421,269)
7    8    Real Sociedad    81      € 981,538 (£ 823,028, $1,000,297)
8    9       Celta Vigo    72        € 815,000 (£ 683,384, $830,576)
9   10            Betis    81        € 760,385 (£ 637,589, $774,917)
10  11          Granada    80        € 520,385 (£ 436,347, $530,330)
11  12           Getafe    71        € 495,962 (£ 415,868, $505,440)
12  13          Osasuna    77        € 483,462 (£ 405,387, $492,701)
13  14           Alavés    77        € 450,192 (£ 377,490, $458,796)
14  15       Valladolid    79        € 446,731 (£ 374,588, $455,269)
15  16            Cádiz    85        € 373,269 (£ 312,989, $380,403)
16  17          Levante    72        € 358,654 (£ 300,734, $365,508)
17  18            Eibar    74        € 358,462 (£ 300,573, $365,312)
18  19           Huesca    81        € 330,962 (£ 277,514, $337,287)
19  20            Elche    72        € 259,712 (£ 217,770, $264,675)

                                   Annual Wages % Estimated
0   € 351,880,000 (£ 295,054,323, $358,605,024)         22%
1   € 314,290,000 (£ 263,534,797, $320,296,616)          0%
2   € 170,390,000 (£ 142,873,440, $173,646,443)         37%
3      € 96,570,000 (£ 80,974,753, $98,415,618)         56%
4      € 93,490,000 (£ 78,392,148, $95,276,751)         67%
5      € 75,390,000 (£ 63,215,147, $76,830,834)         67%
6      € 72,520,000 (£ 60,808,628, $73,905,978)         96%
7      € 51,040,000 (£ 42,797,468, $52,015,463)         96%
8      € 42,380,000 (£ 35,535,983, $43,189,954)         96%
9      € 39,540,000 (£ 33,154,621, $40,295,678)        100%
10     € 27,060,000 (£ 22,690,035, $27,577,161)         98%
11     € 25,790,000 (£ 21,625,130, $26,282,889)        100%
12     € 25,140,000 (£ 21,080,100, $25,620,469)        100%
13     € 23,410,000 (£ 19,629,481, $23,857,405)         97%
14     € 23,230,000 (£ 19,478,551, $23,673,967)         96%
15     € 19,410,000 (£ 16,275,446, $19,780,961)        100%
16     € 18,650,000 (£ 15,638,183, $19,006,435)        100%
17     € 18,640,000 (£ 15,629,794, $18,996,243)        100%
18     € 17,210,000 (£ 14,430,730, $17,538,912)         98%
19     € 13,505,000 (£ 11,324,057, $13,763,102)         97%

In [16]:
laliga_19_20wages = pd.read_html('https://fbref.com/en/comps/12/2019-2020/wages/2019-2020-La-Liga-Wages')
la_liga_wages_1920df = pd.DataFrame(laliga_19_20wages[0])

In [17]:
print(la_liga_wages_1920df)

    Rk            Squad  # Pl                           Weekly Wages  \
0    1      Real Madrid    79  € 6,850,000 (£ 5,743,782, $6,980,915)
1    2        Barcelona    69  € 6,631,731 (£ 5,560,762, $6,758,474)
2    3  Atlético Madrid    68  € 3,182,692 (£ 2,668,714, $3,243,519)
3    4         Valencia    74  € 1,448,846 (£ 1,214,870, $1,476,536)
4    5          Sevilla    74  € 1,259,808 (£ 1,056,359, $1,283,885)
5    6       Villarreal    78    € 1,142,115 (£ 957,673, $1,163,943)
6    7    Athletic Club    76        € 929,423 (£ 779,329, $947,186)
7    8    Real Sociedad    73        € 751,731 (£ 630,333, $766,098)
8    9       Celta Vigo    75        € 721,731 (£ 605,177, $735,524)
9   10            Betis    73        € 696,538 (£ 584,053, $709,850)
10  11          Leganés    77        € 679,231 (£ 569,541, $692,212)
11  12         Espanyol    81        € 644,615 (£ 540,515, $656,935)
12  13           Getafe    79        € 508,846 (£ 426,672, $518,571)
13  14           Alavés    82        € 468,558 (£ 392,890, $477,513)
14  15          Granada    70        € 421,731 (£ 353,625, $429,791)
15  16          Levante    71        € 360,577 (£ 302,347, $367,468)
16  17            Eibar    70        € 355,385 (£ 297,993, $362,177)
17  18       Valladolid    78        € 290,192 (£ 243,329, $295,738)
18  19          Osasuna    79        € 272,692 (£ 228,655, $277,904)
19  20         Mallorca    82        € 240,769 (£ 201,887, $245,371)

                                   Annual Wages % Estimated
0   € 356,200,000 (£ 298,676,682, $363,007,586)         46%
1   € 344,850,000 (£ 289,159,607, $351,440,667)         41%
2   € 165,500,000 (£ 138,773,134, $168,662,987)         56%
3      € 75,340,000 (£ 63,173,220, $76,779,876)         73%
4      € 65,510,000 (£ 54,930,679, $66,762,006)         76%
5      € 59,390,000 (£ 49,799,012, $60,525,042)         86%
6      € 48,330,000 (£ 40,525,107, $49,253,671)        100%
7      € 39,090,000 (£ 32,777,291, $39,837,075)        100%
8      € 37,530,000 (£ 31,469,218, $38,247,261)         96%
9      € 36,220,000 (£ 30,370,776, $36,912,224)        100%
10     € 35,320,000 (£ 29,616,119, $35,995,024)         99%
11     € 33,520,000 (£ 28,106,802, $34,160,623)        100%
12     € 26,460,000 (£ 22,186,931, $26,965,696)        100%
13     € 24,365,000 (£ 20,430,254, $24,830,655)        100%
14     € 21,930,000 (£ 18,388,487, $22,349,118)        100%
15     € 18,750,000 (£ 15,722,030, $19,108,346)        100%
16     € 18,480,000 (£ 15,495,639, $18,833,186)        100%
17     € 15,090,000 (£ 12,653,093, $15,378,396)        100%
18     € 14,180,000 (£ 11,890,050, $14,451,004)        100%
19     € 12,520,000 (£ 10,498,125, $12,759,279)        100%

In [18]:
laliga_18_19wages = pd.read_html('https://fbref.com/en/comps/12/2018-2019/wages/2018-2019-La-Liga-Wages')
la_liga_wages_1819df = pd.DataFrame(laliga_18_19wages[0])

In [19]:
print(la_liga_wages_1819df)

    Rk            Squad  # Pl                           Weekly Wages  \
0    1        Barcelona    92  € 5,152,596 (£ 4,320,495, $5,251,071)
1    2      Real Madrid    91  € 4,466,808 (£ 3,745,456, $4,552,176)
2    3  Atlético Madrid    88  € 3,896,462 (£ 3,267,216, $3,970,930)
3    4          Sevilla    86  € 1,487,212 (£ 1,247,039, $1,515,635)
4    5         Valencia    80  € 1,454,231 (£ 1,219,385, $1,482,024)
5    6       Celta Vigo   124  € 1,340,096 (£ 1,123,682, $1,365,708)
6    7    Athletic Club    86    € 1,089,365 (£ 913,442, $1,110,185)
7    8       Villarreal    87        € 945,865 (£ 793,116, $963,942)
8    9    Real Sociedad    81        € 732,712 (£ 614,385, $746,715)
9   10            Betis    81        € 711,269 (£ 596,405, $724,863)
10  11          Levante    86        € 696,885 (£ 584,344, $710,203)
11  12         Espanyol    81        € 612,442 (£ 513,538, $624,147)
12  13           Alavés    76        € 434,904 (£ 364,671, $443,216)
13  14   Rayo Vallecano    84        € 399,712 (£ 335,161, $407,351)
14  15            Eibar    79        € 386,212 (£ 323,842, $393,593)
15  16           Getafe    78        € 368,750 (£ 309,200, $375,797)
16  17           Girona    79        € 357,385 (£ 299,670, $364,215)
17  18       Valladolid    86        € 316,346 (£ 265,259, $322,392)
18  19           Huesca    88        € 296,865 (£ 248,924, $302,539)

                                   Annual Wages % Estimated
0   € 267,935,000 (£ 224,665,737, $273,055,692)        100%
1   € 232,274,000 (£ 194,763,689, $236,713,149)        100%
2   € 202,616,000 (£ 169,895,214, $206,488,336)        100%
3      € 77,335,000 (£ 64,846,044, $78,813,005)        100%
4      € 75,620,000 (£ 63,408,003, $77,065,227)        100%
5      € 69,685,000 (£ 58,431,460, $71,016,799)        100%
6      € 56,647,000 (£ 47,498,983, $57,729,620)        100%
7      € 49,185,000 (£ 41,242,031, $50,125,007)        100%
8      € 38,101,000 (£ 31,948,008, $38,829,174)        100%
9      € 36,986,000 (£ 31,013,070, $37,692,866)        100%
10     € 36,238,000 (£ 30,385,866, $36,930,572)        100%
11     € 31,847,000 (£ 26,703,976, $32,455,650)        100%
12     € 22,615,000 (£ 18,962,866, $23,047,212)        100%
13     € 20,785,000 (£ 17,428,396, $21,182,237)        100%
14     € 20,083,000 (£ 16,839,763, $20,466,820)        100%
15     € 19,175,000 (£ 16,078,399, $19,541,468)        100%
16     € 18,584,000 (£ 15,582,841, $18,939,174)        100%
17     € 16,450,000 (£ 13,793,462, $16,764,389)        100%
18     € 15,437,000 (£ 12,944,051, $15,732,028)        100%

In [20]:
merged_df2 = pd.concat([la_liga_wages_2223df,la_liga_wages_2122df,la_liga_wages_2021df,la_liga_wages_1920df,la_liga_wages_1819df],ignore_index=True)
wages_laliga_5years = merged_df2

In [21]:
wages_laliga_5years

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Barcelona,26,"€ 6,102,692 (£ 5,492,146, $5,872,258)","€ 317,340,000 (£ 285,591,609, $305,357,425)",20%
1,2,Real Madrid,23,"€ 5,348,654 (£ 4,813,546, $5,146,692)","€ 278,130,000 (£ 250,304,387, $267,627,972)",4%
2,3,Atlético Madrid,22,"€ 3,045,385 (£ 2,740,708, $2,930,393)","€ 158,360,000 (£ 142,516,819, $152,380,418)",32%
3,4,Sevilla,25,"€ 1,658,077 (£ 1,492,194, $1,595,469)","€ 86,220,000 (£ 77,594,091, $82,964,384)",67%
4,5,Villarreal,24,"€ 1,565,192 (£ 1,408,602, $1,506,092)","€ 81,390,000 (£ 73,247,310, $78,316,758)",38%
...,...,...,...,...,...,...
94,15,Eibar,79,"€ 386,212 (£ 323,842, $393,593)","€ 20,083,000 (£ 16,839,763, $20,466,820)",100%
95,16,Getafe,78,"€ 368,750 (£ 309,200, $375,797)","€ 19,175,000 (£ 16,078,399, $19,541,468)",100%
96,17,Girona,79,"€ 357,385 (£ 299,670, $364,215)","€ 18,584,000 (£ 15,582,841, $18,939,174)",100%
97,18,Valladolid,86,"€ 316,346 (£ 265,259, $322,392)","€ 16,450,000 (£ 13,793,462, $16,764,389)",100%
98,19,Huesca,88,"€ 296,865 (£ 248,924, $302,539)","€ 15,437,000 (£ 12,944,051, $15,732,028)",100%

In [23]:
laliga_2223sandf = pd.read_html('https://fbref.com/en/comps/12/schedule/La-Liga-Scores-and-Fixtures')
la_liga_2223sandf = pd.DataFrame(laliga_2223sandf[0])

In [24]:
print(la_liga_2223sandf)

       Wk  Day        Date   Time         Home   xG Score  xG.1  \
0     1.0  Fri  2022-08-12  21:00      Osasuna  1.5   2–1   0.9
1     1.0  Sat  2022-08-13  17:00   Celta Vigo  0.4   2–2   1.1
2     1.0  Sat  2022-08-13  19:00   Valladolid  1.0   0–3   1.5
3     1.0  Sat  2022-08-13  21:00    Barcelona  1.9   0–0   0.5
4     1.0  Sun  2022-08-14  17:30        Cádiz  0.2   0–1   1.5
..    ...  ...         ...    ...          ...  ...   ...   ...
413  38.0  Sun  2023-06-04    NaN   Celta Vigo  NaN   NaN   NaN
414  38.0  Sun  2023-06-04    NaN     Espanyol  NaN   NaN   NaN
415  38.0  Sun  2023-06-04    NaN  Real Madrid  NaN   NaN   NaN
416  38.0  Sun  2023-06-04    NaN      Osasuna  NaN   NaN   NaN
417  38.0  Sun  2023-06-04    NaN     Mallorca  NaN   NaN   NaN

               Away  Attendance                            Venue  \
0           Sevilla     18536.0                 Estadio El Sadar
1          Espanyol     13859.0              Estadio de Balaídos
2        Villarreal     17543.0  Estadio Municipal José Zorrilla
3    Rayo Vallecano     81104.0                         Camp Nou
4     Real Sociedad     16570.0         Estadio Nuevo Mirandilla
..              ...         ...                              ...
413       Barcelona         NaN                              NaN
414         Almería         NaN                              NaN
415   Athletic Club         NaN                              NaN
416          Girona         NaN                              NaN
417  Rayo Vallecano         NaN                              NaN

                      Referee  Match Report  Notes
0            Carlos del Cerro  Match Report    NaN
1    Miguel Ángel Ortiz Arias  Match Report    NaN
2                Mario Melero  Match Report    NaN
3         Alejandro Hernández  Match Report    NaN
4         Isidro Díaz de Mera  Match Report    NaN
..                        ...           ...    ...
413                       NaN  Head-to-Head    NaN
414                       NaN  Head-to-Head    NaN
415                       NaN  Head-to-Head    NaN
416                       NaN  Head-to-Head    NaN
417                       NaN  Head-to-Head    NaN

[418 rows x 14 columns]

In [25]:
laliga_2122sandf = pd.read_html('https://fbref.com/en/comps/12/2021-2022/schedule/2021-2022-La-Liga-Scores-and-Fixtures')
la_liga_2122sandf = pd.DataFrame(laliga_2122sandf[0])

In [26]:
print(la_liga_2122sandf)

       Wk  Day        Date   Time           Home   xG Score  xG.1  \
0     1.0  Fri  2021-08-13  21:00       Valencia  1.5   1–0   1.4
1     1.0  Sat  2021-08-14  19:30       Mallorca  0.5   1–1   0.6
2     1.0  Sat  2021-08-14  19:30          Cádiz  0.6   1–1   0.9
3     1.0  Sat  2021-08-14  22:00         Alavés  1.7   1–4   1.7
4     1.0  Sat  2021-08-14  22:00        Osasuna  0.9   0–0   0.5
..    ...  ...         ...    ...            ...  ...   ...   ...
419  38.0  Sun  2022-05-22  20:00        Granada  1.7   0–0   0.3
420  38.0  Sun  2022-05-22  20:00         Alavés  0.4   0–1   1.8
421  38.0  Sun  2022-05-22  22:00      Barcelona  0.6   0–2   0.8
422  38.0  Sun  2022-05-22  22:00        Sevilla  1.2   1–0   0.7
423  38.0  Sun  2022-05-22  22:00  Real Sociedad  2.5   1–2   0.7

                Away  Attendance                          Venue  \
0             Getafe      9868.0            Estadio de Mestalla
1              Betis      6279.0               Iberostar Estadi
2            Levante      6941.0       Estadio Nuevo Mirandilla
3        Real Madrid      3968.0        Estadio de Mendizorroza
4           Espanyol      6715.0               Estadio El Sadar
..               ...         ...                            ...
419         Espanyol     17951.0     Estadio Nuevo Los Cármenes
420            Cádiz     11138.0        Estadio de Mendizorroza
421       Villarreal     54850.0                       Camp Nou
422    Athletic Club     31305.0  Estadio Ramón Sánchez Pizjuán
423  Atlético Madrid     23586.0    Estadio Municipal de Anoeta

                      Referee  Match Report  Notes
0                   Jesús Gil  Match Report    NaN
1         Antonio Matéu Lahoz  Match Report    NaN
2              Santiago Jaime  Match Report    NaN
3                  César Soto  Match Report    NaN
4    Miguel Ángel Ortiz Arias  Match Report    NaN
..                        ...           ...    ...
419       Alejandro Hernández  Match Report    NaN
420              José Sánchez  Match Report    NaN
421         José Luis Munuera  Match Report    NaN
422          Carlos del Cerro  Match Report    NaN
423                 Jesús Gil  Match Report    NaN

[424 rows x 14 columns]

In [27]:
laliga_2021sandf = pd.read_html('https://fbref.com/en/comps/12/2020-2021/schedule/2020-2021-La-Liga-Scores-and-Fixtures')
la_liga_2021sandf = pd.DataFrame(laliga_2021sandf[0])

In [28]:
print(la_liga_2021sandf)

       Wk  Day        Date   Time        Home   xG Score  xG.1  \
0     1.0  Sat  2020-09-12  16:00       Eibar  0.4   0–0   0.6
1     1.0  Sat  2020-09-12  18:30     Granada  0.4   2–0   0.5
2     1.0  Sat  2020-09-12  21:00       Cádiz  0.7   0–2   0.8
3     1.0  Sun  2020-09-13  14:00      Alavés  1.2   0–1   0.4
4     1.0  Sun  2020-09-13  16:00  Valladolid  0.8   1–1   0.3
..    ...  ...         ...    ...         ...  ...   ...   ...
422  38.0  Sat  2021-05-22  18:00  Celta Vigo  1.3   2–3   2.3
423  38.0  Sat  2021-05-22  18:00  Valladolid  1.1   1–2   1.4
424  38.0  Sat  2021-05-22  18:00       Eibar  1.7   0–1   0.3
425  38.0  Sun  2021-05-23  18:30     Granada  0.4   0–0   0.6
426  38.0  Sun  2021-05-23  21:00     Sevilla  0.4   1–0   1.1

                Away  Attendance                            Venue  \
0         Celta Vigo         NaN      Estadio Municipal de Ipurúa
1      Athletic Club         NaN       Estadio Nuevo Los Cármenes
2            Osasuna         NaN        Estadio Ramón de Carranza
3              Betis         NaN          Estadio de Mendizorroza
4      Real Sociedad         NaN  Estadio Municipal José Zorrilla
..               ...         ...                              ...
422            Betis      1738.0              Estadio de Balaídos
423  Atlético Madrid         NaN  Estadio Municipal José Zorrilla
424        Barcelona         NaN      Estadio Municipal de Ipurúa
425           Getafe         NaN       Estadio Nuevo Los Cármenes
426           Alavés         NaN    Estadio Ramón Sánchez Pizjuán

                 Referee  Match Report  Notes
0       Valentín Pizarro  Match Report    NaN
1    Antonio Matéu Lahoz  Match Report    NaN
2    Isidro Díaz de Mera  Match Report    NaN
3         Pablo González  Match Report    NaN
4           Mario Melero  Match Report    NaN
..                   ...           ...    ...
422            Jesús Gil  Match Report    NaN
423         José Sánchez  Match Report    NaN
424       Santiago Jaime  Match Report    NaN
425          David Medié  Match Report    NaN
426  Isidro Díaz de Mera  Match Report    NaN

[427 rows x 14 columns]

In [29]:
laliga_1920sandf = pd.read_html('https://fbref.com/en/comps/12/2019-2020/schedule/2019-2020-La-Liga-Scores-and-Fixtures')
la_liga_1920sandf = pd.DataFrame(laliga_1920sandf[0])

In [30]:
print(la_liga_1920sandf)

       Wk  Day        Date   Time           Home   xG Score  xG.1  \
0     1.0  Fri  2019-08-16  21:00  Athletic Club  0.5   1–0   0.9
1     1.0  Sat  2019-08-17  17:00     Celta Vigo  1.6   1–3   2.1
2     1.0  Sat  2019-08-17  19:00       Valencia  2.3   1–1   1.8
3     1.0  Sat  2019-08-17  20:00       Mallorca  1.6   2–1   0.7
4     1.0  Sat  2019-08-17  21:00        Leganés  1.4   0–1   0.2
..    ...  ...         ...    ...            ...  ...   ...   ...
414  38.0  Sun  2020-07-19  21:00        Levante  2.4   1–0   1.4
415  38.0  Sun  2020-07-19  21:00        Granada  1.6   4–0   0.7
416  38.0  Sun  2020-07-19  21:00        Leganés  1.4   2–2   0.8
417  38.0  Sun  2020-07-19  21:00        Osasuna  0.9   2–2   0.8
418  38.0  Sun  2020-07-19  21:00       Espanyol  0.4   0–0   0.6

              Away  Attendance                          Venue  \
0        Barcelona     47693.0                      San Mamés
1      Real Madrid     23566.0            Estadio de Balaídos
2    Real Sociedad     41846.0            Estadio de Mestalla
3            Eibar     15127.0               Iberostar Estadi
4          Osasuna     10020.0  Estadio Municipal de Butarque
..             ...         ...                            ...
414         Getafe         NaN     Estadio Ciudad de Valencia
415  Athletic Club         NaN     Estadio Nuevo Los Cármenes
416    Real Madrid         NaN  Estadio Municipal de Butarque
417       Mallorca         NaN               Estadio El Sadar
418     Celta Vigo         NaN                   RCDE Stadium

                 Referee  Match Report  Notes
0       Carlos del Cerro  Match Report    NaN
1         Javier Estrada  Match Report    NaN
2              Jesús Gil  Match Report    NaN
3           Mario Melero  Match Report    NaN
4         Alberola Rojas  Match Report    NaN
..                   ...           ...    ...
414    Ricardo de Burgos  Match Report    NaN
415     Carlos del Cerro  Match Report    NaN
416     Guillermo Cuadra  Match Report    NaN
417  Antonio Matéu Lahoz  Match Report    NaN
418       Adrián Cordero  Match Report    NaN

[419 rows x 14 columns]

In [31]:
laliga_1819sandf = pd.read_html('https://fbref.com/en/comps/12/2018-2019/schedule/2018-2019-La-Liga-Scores-and-Fixtures')
la_liga_1819sandf = pd.DataFrame(laliga_1819sandf[0])

In [32]:
print(la_liga_1819sandf)

       Wk  Day        Date   Time         Home   xG Score  xG.1  \
0     1.0  Fri  2018-08-17  20:15       Girona  0.7   0–0   0.0
1     1.0  Fri  2018-08-17  22:15        Betis  0.9   0–3   2.5
2     1.0  Sat  2018-08-18  18:15   Celta Vigo  0.6   1–1   0.6
3     1.0  Sat  2018-08-18  20:15   Villarreal  1.6   1–2   0.7
4     1.0  Sat  2018-08-18  22:15    Barcelona  3.2   3–0   0.3
..    ...  ...         ...    ...          ...  ...   ...   ...
413  38.0  Sat  2019-05-18  20:45   Celta Vigo  2.1   2–2   1.4
414  38.0  Sat  2019-05-18  20:45       Huesca  0.9   2–1   0.9
415  38.0  Sat  2019-05-18  20:45       Alavés  1.3   2–1   1.0
416  38.0  Sun  2019-05-19  12:00  Real Madrid  0.9   0–2   1.3
417  38.0  Sun  2019-05-19  16:15        Eibar  1.5   2–2   1.1

               Away  Attendance                          Venue  \
0        Valladolid     10368.0  Estadi Municipal de Montilivi
1           Levante     46225.0      Estadio Benito Villamarín
2          Espanyol     16215.0            Estadio de Balaídos
3     Real Sociedad     16250.0         Estadio de la Cerámica
4            Alavés     52356.0                       Camp Nou
..              ...         ...                            ...
413  Rayo Vallecano     21607.0            Estadio de Balaídos
414         Leganés      5575.0             Estadio El Alcoraz
415          Girona     11549.0        Estadio de Mendizorroza
416           Betis     56900.0      Estadio Santiago Bernabéu
417       Barcelona      5145.0    Estadio Municipal de Ipurúa

                 Referee  Match Report  Notes
0       Guillermo Cuadra  Match Report    NaN
1       Ignacio Iglesias  Match Report    NaN
2         Santiago Jaime  Match Report    NaN
3           Mario Melero  Match Report    NaN
4           José Sánchez  Match Report    NaN
..                   ...           ...    ...
413  Antonio Matéu Lahoz  Match Report    NaN
414       Alberola Rojas  Match Report    NaN
415         Mario Melero  Match Report    NaN
416      Alberto Undiano  Match Report    NaN
417    José Luis Munuera  Match Report    NaN

[418 rows x 14 columns]

In [35]:
merged_df3 = pd.concat([la_liga_2223sandf,la_liga_2122sandf,la_liga_2021sandf,la_liga_1920sandf,la_liga_1819sandf],ignore_index=True)
scoresandfictures_laliga_5years = merged_df3

In [36]:
print(scoresandfictures_laliga_5years)

        Wk  Day        Date   Time         Home   xG Score  xG.1  \
0      1.0  Fri  2022-08-12  21:00      Osasuna  1.5   2–1   0.9
1      1.0  Sat  2022-08-13  17:00   Celta Vigo  0.4   2–2   1.1
2      1.0  Sat  2022-08-13  19:00   Valladolid  1.0   0–3   1.5
3      1.0  Sat  2022-08-13  21:00    Barcelona  1.9   0–0   0.5
4      1.0  Sun  2022-08-14  17:30        Cádiz  0.2   0–1   1.5
...    ...  ...         ...    ...          ...  ...   ...   ...
2101  38.0  Sat  2019-05-18  20:45   Celta Vigo  2.1   2–2   1.4
2102  38.0  Sat  2019-05-18  20:45       Huesca  0.9   2–1   0.9
2103  38.0  Sat  2019-05-18  20:45       Alavés  1.3   2–1   1.0
2104  38.0  Sun  2019-05-19  12:00  Real Madrid  0.9   0–2   1.3
2105  38.0  Sun  2019-05-19  16:15        Eibar  1.5   2–2   1.1

                Away  Attendance                            Venue  \
0            Sevilla     18536.0                 Estadio El Sadar
1           Espanyol     13859.0              Estadio de Balaídos
2         Villarreal     17543.0  Estadio Municipal José Zorrilla
3     Rayo Vallecano     81104.0                         Camp Nou
4      Real Sociedad     16570.0         Estadio Nuevo Mirandilla
...              ...         ...                              ...
2101  Rayo Vallecano     21607.0              Estadio de Balaídos
2102         Leganés      5575.0               Estadio El Alcoraz
2103          Girona     11549.0          Estadio de Mendizorroza
2104           Betis     56900.0        Estadio Santiago Bernabéu
2105       Barcelona      5145.0      Estadio Municipal de Ipurúa

                       Referee  Match Report  Notes
0             Carlos del Cerro  Match Report    NaN
1     Miguel Ángel Ortiz Arias  Match Report    NaN
2                 Mario Melero  Match Report    NaN
3          Alejandro Hernández  Match Report    NaN
4          Isidro Díaz de Mera  Match Report    NaN
...                        ...           ...    ...
2101       Antonio Matéu Lahoz  Match Report    NaN
2102            Alberola Rojas  Match Report    NaN
2103              Mario Melero  Match Report    NaN
2104           Alberto Undiano  Match Report    NaN
2105         José Luis Munuera  Match Report    NaN

[2106 rows x 14 columns]